html, body, #react-root {
  font-family: system-ui, -apple-system;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
  body.dark {
    background-color: #222222;
  }
